.sideBox{
    border: 0px solid red;
    height: auto;
    width: 18vw;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.795);
    transition: transform .5s;
    border-radius: 10px;
    padding: 5%;
    
}

.brand:hover{
    background-color: black;
    color: brown;
    cursor: pointer;
    border-radius: 5.6px;
}

/* Card Container Css */

#carHeader{
    display: flex;
    justify-content: center; 
    align-items: center;
    border: 0px solid blue;
    height: 66vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.745), rgba(0, 0, 0, 0.586)),url("../Images/c2.jpg");
    background-size:cover;
}

/* Card detail css */

.detailImg{
    height: 67vh;
    width: 100%;
    border-radius: 10px;
    background-image: linear-gradient( to left, #605f60f6  51%, #2b587686  120%)
}

/* Car data Css */

.carCard {
    border:0px solid red;
    height: 46vh;
    width: 21vw;
    padding: 4px;
    pacity: 0.65;
    /* to left,  #4e4376bb  51%, #2b5876  120% */
    background-image: linear-gradient(to left,  #605f60f6  51%, #2b587686  120%)
}

