#footer {
    background-color: #333333;
    color: #fff;
    padding: 20px;
    width:100%;
    margin-top: 5vh;
    /* margin-left: 5vw; */
  }

  #footer img {
    width: 20%;
    height: 45vh;
    margin-top: -9%;
    margin-left: -4%;
    position:absolute
  }