.navbar{
    background:transparent;
    border: 0px solid red;
    height: 80px;
    width: 100%;
    display: flex;
    position: fixed;
    font-size: 1.2rem;
    top: 0;
    left:0;
    z-index: 1;
}

.navbar.active{
    background-color: rgba(23, 26, 27, 0.864);
    opacity: 1;
}

/* #navList{
    display: inline;
} */