.payment-success-container {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 12vh;
  }
  
  .payment-success-message {
    text-align: center;
    max-width: 400px;
    padding: 20px;
    margin: auto;
  }
  
  .success-heading {
    font-size: 24px;
    color: #4caf50; /* Green color for success */
    margin-bottom: 10px;
  }
  
  .message {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .user-email {
    font-weight: bold;
    color: #f44336; /* Red color for emphasis */
  }
  
  .thank-you {
    font-size: 16px;
    color: #878484;
  }
  
  .car-image {
    width: 40vw;
    height: 65vh;
    margin-top: 20px;
    justify-content: center;
   /* animation: driveAnimation 2s ease-in-out infinite alternate;  Example animation */
  }

  .dashbord-btn{
    height: 8vh;
    width: 15vw;
    margin-left: 12vw;
  }
  
  @keyframes driveAnimation {
    0% {
      transform: translateX(-5px);
    }
    100% {
      transform: translateX(5px);
    }
  }
  